/* reglas
selectores
declaraciones
propiedades
valores */


/* seletor de etiqueta  header - section - article - nav */
/* header {
  background: pink;
  color: red
} */

/* selector descendente  */
/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */



/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */




@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l0n834');
  src:  url('../fonts/icomoon.eot?l0n834#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?l0n834') format('truetype'),
    url('../fonts/icomoon.woff?l0n834') format('woff'),
    url('../fonts/icomoon.svg?l0n834#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* ESTO ES UN SELECTOR MAS COMPLEJO QUE DICE EL PRIMERO SI
  ENCUENTRAS ALGUN ELEMENTO HTML QUE EMPIEZE CON LA CLASE ICON- APLICA 
  ESOS CAMBIOS Y EL SEGUNDO SI ENCUENTRAS ALGUN ELEMENTO QUE TENGA LA 
  CLASE ICON- APLICA ESTAS PROPIEDADES*/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}


.enlace-proyectos
{
  color: #056fff;
  padding: 5px 13px;
  font-size: 16px;
}






/* para efectos de scroll suaves */
html{
	scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 340px;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image{
  object-fit: cover;
  width: 50%;
}

@media screen and (min-width: 768px) {

  /* video */
  .contenedor-video {
    position: relative;
  }

  .contenedor-video__video {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  /* fondo */
  .contenedor-video__fondo {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #1b2027;
    z-index: 1;
    opacity: 0.9;
  }

  .contenedor-video__header,
  .contenedor-video__hero {
    z-index: 2;
  }
  /* finalizamos el video */

  .hero-image:hover
  {
    border-radius: 15% 85% 12% 88% / 89% 15% 85% 11%  ;
    transition: 1s;
  }
}


.h1-hero
{
  width: 50%
}



.portfolio {
  background: #fafafa;
  padding: 20px;
  /* background: red; */
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  /* border: 1px solid gray; */
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right
  margin-left 
  margin-top */
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;


  /* sombras  */
  -webkit-box-shadow: 8px 0px 37px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 0px 37px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 0px 37px 0px rgba(0,0,0,0.75);
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project strong {
  font-family: 'Fjalla One', sans-serif;
}
/* .project-date {
  margin: 10px 0;
} */

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: #056fff 10px solid;
  width: 80%;
  padding-bottom: 10px;
}


.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

/* hacemos responsive a la img y le decimos que ocupe el 100% de ancho que tenga el padre, (que ocupe el 100% de esos 50% del padre) */
.project-imageContainer img 
{
  max-width: 100%;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.header a:hover {
  background-color: white;
  color: #1B2127;
  transition: 1s;
  clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
}

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;

  flex-shrink: 0;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 0;
}
/* cambiamos el tamaño fijo de ancho y margen */
.event { 
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.event-image {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.certificado
{
  height: 100%;
}


.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}




.final-linea-azul
{
  display: none;
 /* border: 1px solid red;  */
 position: absolute;
 width: 35px;
 height: 60px;
 left: 0;
 top: 0;
 background: white;
}

.final-linea-azul-parte2
{
  background-color: white;
  width: 70px;
  height: 45px;
  position: absolute;
  top: 31px;
  /* border: black 1px solid; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 16px ;
  position: relative;
}

.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}


.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email a {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  border: white 1px solid;
  text-align: center;
  text-decoration: none;
}

.form-email h3 { 
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}



/* video html */
.html-video
{
  width: 100%; /* que tenga de ancho el 100% de ancho del navegador y no importa el tamaño del navegador*/
  /* max-width: 100%; para que el ancho sea hasta esos 1280px de ancho */
  height: auto;
}

/* VIDEO DE YOUTOBE INSERTADO */
.youtobe-video
{
  /* width: 100%;
  height: auto; */
  position: absolute; /* sera absoluta respecto al html */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%; /* toma de ancho el 100% respecto al html */
  height: 100%; /* toma el alto del 100% respecto al html por el absolute */
  /* z-index: 3; */
}

/* contenedor div */
.flexible-video
{
  width: 100%; /* va a tener un ancho del 100% */
  height: 0;
  padding-top: 56.25%; /* define el alto relativo respecto al ancho que tenga el video */
  background: pink;
  position: relative; /* para que el iframe sea absoluto dentro del contenedor relativo */
}




/* El button */
.burger-button
{
  width: 40px;
  height: 40px;
  border-radius: 50%; /* es el 50% de los 40px es como si le ponemos 20px */
  background-color: rgb(0, 0, 0, 0.8); /* rgba(rojo, verde, azul, opacidad) de 0 -255 0 nada 255 todo de ese color la opacidad de 0 -1 donde 0 es transparente y 1 no es transparente si coloco 0.8 tengo un 20% de transparencia  */
  display: none;
  line-height: 40px; /* alinea verticalmente */
  text-align: center; /* alinea horizontalmente */
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white; /* para cambiarle el color al icono */
}

/* seccion de tecnologias */

.tecnologias
{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1em;
  background: #FAFAFA;
  padding: 40px 0;
}

.tecnologias-titulo
{
  display: block;
  margin-bottom: 10px;
}

.lado-izquierdo
{
  width: 40%;
  margin: auto 0;

}

.lado-izquierdo-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 32px ;
}

.estilos-p
{
  background-color: #056fff;
  width: 6em; /* 1em = 16px 6em= 96px*/
  height: 2em;
  border-radius: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: initial;

}

.lado-izquierdo-1item
{
  display: flex;
  justify-content: center;
}

.lado-izquierdo-p-medio
{
  background-color: #056fff;
  width: 6em; /* 1em = 16px 6em= 96px*/
  height: 2em;
  border-radius: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lado derecho */

.lado-derecho
{
  width: 40%;
  margin: auto 0;

}

.lado-derecho-1item
{
  display: flex;
  justify-content: center;
}

.lado-derecho-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 32px 0;

}

/* img */
.container-img
{
  
}

.img-tecnologias
{
  width: 100%;
    max-width: 200px;
    max-height: 250px;
    height: 100%;
    object-fit: cover;
}





/*linea azul - borde desde */
.container-lineaAzul
{
  /*margin-left: 16px;*/
  border-left: #056fff 35px solid;
  position: relative;
}

h2 
{
  position: relative;
  padding-left: 47px;
}

.bloque
{
  background-color: #056fff;
  width: 70px;
  height: 50px;
  position: absolute;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  
}

.h2-bloqueuno
{
  left: -20px;
}

.bloque-uno,
.bloque-dos,
.bloque-tres
{
  top: -10px;
  left: -29px;
}


/* desktop first que empieces desde el MQ más grande */

/* desde 768px hasta 1024px o = va a ejecutar estas reglas */
@media screen and (max-width: 1023px)
{

  .final-linea-azul
  {
    display: block;
  }


  .container
  {
    padding: 0 0;
  }

  .contact
  {
    padding: 16px 16px 16px 85px;
    height: auto;
  }


  

  .h1-hero
  {
    font-size: 2em;
    z-index: 2;
    width: 48%;
    padding-left: 2%; 
  }

}

/* desde 480px hasta 768px o = va a ejecutar estas reglas */
@media screen and (max-width: 767px)
{


/* seccion hero */
  .hero
  {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em; /* un em vale depende el font-size que tengan los padres */
  }

  /* La img del hero */
  .hero-image
  {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 200%;
  }

  .h1-hero
  {
    font-size: 2em;
    z-index: 2;
    width: 100%;
    padding-left: 2%; 
  }



  .img-tecnologias
  {
    width: 100%;
    max-width: 200px;
    max-height: 230px;
    height: 100%;
  }

  .estilos-p
  {
    background-color: #056fff;
    width: 5em; /* 1em = 16px 6em= 96px*/
    height: 2em;
    border-radius: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: initial;
    margin: 0 .3em;

  }
  .lado-derecho, .lado-izquierdo
  {
    margin: auto 1em;
  }

  .lado-izquierdo-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

}

.lado-derecho-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

}

  
  /* Botton */
  .burger-button
  {
    display: block;
  }

  .header
  {
    display: block;
    height: auto;
  }
  .header ol 
  {
    display: block;
  }
  .header ol li
  {
    height: 50px;
    /* text-align: center; */
  }
  .header a
  {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }

  .header .logo
  {
    text-align: center;
  }

  .menu
  {
    position: fixed;
    background: rgba(5, 111, 255, .9);;
    z-index: 3;
    top: 0; /* para que se pegue el contenedor menu arriba */
    left: -200vh; /* para que se ponga -100vh a la izquierda desde la izquierda te va a mover hacia la izquierda tal tamaño */
    bottom: 0;
    width: 100vw; /* tomara el 100% del ancho del viewport */
    /* height: 100vh; */
    display: flex;
    justify-content: center; /* centra de manera horizontal */
    align-items: center;
    transition: .3s;

  }

  .menu.is-active
  {
    left: 0;
  }

/* ajustando la seccion del portafolio */
  .project
  {
    display: block;
  }

  .project-imageContainer
  {
    width: auto;
    text-align: center;
  }

  .project-details
  {
    width: auto;
    font-size: 20px;
  }

  /* los margenes los modificamos porque eran margenes fijos de 10px */
  .project-course, 
  .project-date, 
  .project-url
  {
    margin: 0.3em 0; /* 1em = 16px VERTICAL 4.8PX Y HORIZONTAL 0*/
  }

  .project-title
  {
    font-size: 1.5em;
    margin-bottom: 0.3em; /* es == a 4.8PX */
  }

  .project-course
  {
    font-size: 0.7em;
  }

  .project-date
  {
    font-size: 1em;

  }

  .project-url
  {
    font-size: 1em;

  }

  .project-description
  {
    font-size: 0.8em;

  }

  /* seccion de eventos */
  .event
  {
    width: auto;
    flex-shrink: initial;
  }

  .event img
  {
    width: 100%;
  }


}

/* desde 320px hasta 480px o = va a ejecutar las reglas */
@media screen and (max-width: 480px)
{

  .final-linea-azul
{
 /* border: 1px solid red;  */
 position: absolute;
 width: 27px;
 height: 60px;
 left: 0;
 top: 0;
 background: white;
}

.final-linea-azul-parte2
{
  background-color: white;
  width: 70px;
  height: 40px;
  position: absolute;
  top: 31px;
  /* border: black 1px solid; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


  .portfolio {
    background: #fafafa;
    padding: 9px;
    /* background: red; */
  }

  .project-title {
    width: 90%;
  }


  .enlace-proyectos
{
  color: #056fff;
  padding: 5px 4px;
  font-size: 16px;
}

  .h1-hero
  {
    font-size: 1.5em;
    z-index: 2;
    width: 100%;
    padding-left: 2%;
  }

  .hero-image
  {
    height: 154%;
  }




  h2
  {
    font-size: 23px;
  }

  /*linea azul - borde desde */
.container-lineaAzul
{
  /*margin-left: 16px;*/
  border-left: #056fff 27px solid;
  position: relative;
}

.bloque {
    background-color: #056fff;
    width: 70px;
    height: 45px;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


  .tecnologias
  {
    display: block;
    padding: 1em;
  }
  
  .lado-izquierdo, .lado-derecho
  {
    width: auto;
    margin: 0;
  }

  .lado-izquierdo-2item, .lado-derecho-2item
  {
    margin: 1em 3em;
  }

  .container-img
  {
    display: flex;
    justify-content: center;
  }
  .img-tecnologias
  {
    margin: 1.5em 0;
  }




  h1 
  {
    font-size: 1.5em; /* 1.5em == 24px 1em == 16px */
  }




  .project-details
  {
    font-size: 16px;
  }

  /* 1em = 16px y vale eso porque no hemos modificado el tamaño de fuente de la clase*/
  .event-detail
  {
    margin: -2em 0.5em 0.5em 0.5em;
    padding: 1em;
  }

  /* seccion de contacto */
  .contact
  {
    height: auto;
    padding: 1.5em 0; /* 1em == 16px */
    text-align: center;
    display: block;
  }

  .form-email a 
  {
    margin: 1em auto; /* 1em == 11px | el tamaño fuente de este boton vale 11px por lo que 1em vale 11px */
    width: 60%;
  }

  .form-email h3
  {
    margin-top: 0;
  }

  /* seccion del footer para que se apilen uno abajo del otro */
  .footer
  {
    display: block; /* para que cuando lleguen hasta 480px se apilen uno abajo del otro */
    text-align: center; /* centramos los elementos */
    border: 1px solid transparent; /* para que quite el margin collapse */
  }

  .social-link
  {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }

}

/* todo lo que sea inferior a 320px o = va a ejecutar las reglas */
@media screen and (max-width: 320px)
{

  .final-linea-azul
{
 /* border: 1px solid red;  */
 position: absolute;
 width: 20px;
 height: 60px;
 left: 0;
 top: 0;
 background: white;
}

.final-linea-azul-parte2
{
  background-color: white;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 31px;
  /* border: black 1px solid; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

  .project
  {
    padding: 12px;
  }

  .project-title {
    
    width: 95%;
  }


  .hero-image
  {
    height: 107%;
  }



  h2
  {
    font-size: 21px;
  }

    /*linea azul - borde desde */
.container-lineaAzul
{
  /*margin-left: 16px;*/
  border-left: #056fff 20px solid;
  position: relative;
}

.bloque {
    background-color: #056fff;
    width: 70px;
    height: 40px;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bloque-uno, .bloque-dos, .bloque-tres {
    top: -3px;
    left: -29px;
}



  .lado-izquierdo-2item, .lado-derecho-2item
  {
    margin: 1em 1em;
  }


  h1
  {
    font-size: 1.2em;
  }

  .hero
  {
    padding: 2em 1em; /* 2em eje vertical 1em eje horizontal */
  }



}

/* estilos para .final-linea-azul */
@media screen and (min-width: 1024px) {
  .container{
    position: relative;

  }
  .final-linea-azul
  {
  display: block;
  left: -17px;
  top: -17px;
  }
  /* le ponemos pading a esa seccion para que entre final-linea-azul  */
  .padding-container{
    padding: 0px 16px 0px 85px;
    height: auto;
    /* border: 1px solid red; */ */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
  
}

@media screen and (max-width: 425px){
  .hero-image {
      height: 154%;
      width: 140%;
  }
}



/* lo hacemos un container */
.padding-container{
  /* padding: 0px 16px 0px 85px; */
  height: auto;
  /* border: 1px solid red; */ */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}


video {
  display: none;
}