@import './variables.scss';

.enlace-proyectos
{
  color: $azul;
  padding: 0 5px;
  font-size: 16px;
}

/* para efectos de scroll suaves */
html{
	scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: $celeste;
}
h2 {
  color: $celeste;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 340px;
  background-color: $background-gris;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image{
  object-fit: cover;
  width: 50%;
  transition: $transition-default;
  clip-path: inset(11% 10% 11% 10%);
  border-radius: $borderR;
  &:hover {
    clip-path: inset(0 0 0 0);
  }
}
.contenedor-video {
  position: relative;
}

@media screen and (min-width: 768px) {
  .contenedor-video {
    position: relative;
  }

  .contenedor-video__video {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  /* fondo */
  .contenedor-video__fondo {
    height: 100%;
    width: 100%;
    position: absolute;
    background: $background-gris2;
    z-index: 1;
    opacity: 0.9;
  }

  .contenedor-video__header,
  .contenedor-video__hero {
    z-index: 2;
  }
  /* finalizamos el video */

  /* margen a la seccion de portafolio a las imagenes*/
  .project-imageContainer img 
  {
    margin-left: 5px;
  }


}


.h1-hero
{
  width: 50%
}



.portfolio {
  background: $white2;
  padding: 20px;
  /* background: red; */
}

.project {
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* sombras  */
  -webkit-box-shadow: 8px 0px 37px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 0px 37px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 0px 37px 0px rgba(0,0,0,0.75);
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project strong {
  font-family: 'Fjalla One', sans-serif;
}


.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: $azul 10px solid;
  width: 80%;
  padding-bottom: 10px;
}


.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img 
{
  border-radius: $borderR;
  max-width: 100%;
}

.header {
  background-color: $background-gris;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.header a:hover {
  background-color: white;
  color: $background-gris;
  transition: 1s;
  clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
}

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;

  flex-shrink: 0;
}

.footer {
  color: white;
  background-color: $background-gris;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 8px;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.event-list-title {
  margin-left: 0;
  position: sticky;
  top: 40px;
  z-index: 1;
}
/* cambiamos el tamaño fijo de ancho y margen */
.event { 
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: $white3;
  position: relative;

  /* sombras */
  -webkit-box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.75);

  &:hover .event-detail {
    opacity: 1;
    -webkit-box-shadow: 0px -7px 50px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 50px -18px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 50px -18px rgba(0,0,0,0.75);
  }

  &:hover .event-image {
    filter: blur(5px);
  }

}

.event-imageContainer {
  height: 100%;
  width: 100%;
}

.event-image {
  object-fit: cover;
  transition: $transition-default;
}

.certificado {
  width: 100%;
  height: 100%;
}

.event-title {
  margin: 10px 0;
}

.event-detail {
  background-color: white;
  position: absolute;
  padding: 10px 8px 15px 8px;
  text-align: center;
  font-size: 15px;
  opacity: 0;
  transition: $transition-default;
  bottom: 0;
  width: 100%;
}
.event-description {
  text-align: left;
  margin: 10px 0 15px 0;
}

.event-url {
  color: $azul;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}




.final-linea-azul
{
  display: none;
 /* border: 1px solid red;  */
 position: absolute;
 width: 35px;
 height: 60px;
 left: 0;
 top: 0;
 background: white;
}

.final-linea-azul-parte2
{
  background-color: white;
  width: 70px;
  height: 45px;
  position: absolute;
  top: 31px;
  /* border: black 1px solid; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.contact {
  background-color: $azul;
  color: white;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-wrap: wrap;
  padding: 16px 16px ;
  position: relative;
}

/* .social {} */

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  transition: $transition-default;
  &:hover {
    opacity: 0.7;
  }
}

.social-link.twitter {
  background-image: url('/images/twitter.svg');
}
.social-link.facebook {
  background-image: url('/images/facebook.svg');
}
.social-link.github {
  background-image: url('/images/github.svg');
}
.social-link.instagram {
  background-image: url('/images/instagram.svg');
}


.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('/images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email a {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  border: white 1px solid;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: $transition-default;

  &:hover{
    background-color: $white;
    color: $azul;
  }
}

.form-email h3 { 
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}



/* video html */
.html-video
{
  width: 100%; /* que tenga de ancho el 100% de ancho del navegador y no importa el tamaño del navegador*/
  /* max-width: 100%; para que el ancho sea hasta esos 1280px de ancho */
  height: auto;
}

/* VIDEO DE YOUTOBE INSERTADO */
.youtobe-video
{
  /* width: 100%;
  height: auto; */
  position: absolute; /* sera absoluta respecto al html */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%; /* toma de ancho el 100% respecto al html */
  height: 100%; /* toma el alto del 100% respecto al html por el absolute */
  /* z-index: 3; */
}

/* contenedor div */
.flexible-video
{
  width: 100%; /* va a tener un ancho del 100% */
  height: 0;
  padding-top: 56.25%; /* define el alto relativo respecto al ancho que tenga el video */
  background: pink;
  position: relative; /* para que el iframe sea absoluto dentro del contenedor relativo */
}




/* El button */
.burger-button
{
  width: auto;
  background-color: rgba(255, 255, 255, 0.8) ; /* rgba(rojo, verde, azul, opacidad) de 0 -255 0 nada 255 todo de ese color la opacidad de 0 -1 donde 0 es transparente y 1 no es transparente si coloco 0.8 tengo un 20% de transparencia  */
  display: none ;
  line-height: 40px; /* alinea verticalmente */
  text-align: center; /* alinea horizontalmente */
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  padding: 10px 10px 6px;
  border-radius: 10px;
  outline: none;
}

/* seccion de tecnologias */
.tecnologias
{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1em;
  background: $white2;
  padding: 40px 0;
}

.tecnologias-titulo
{
  display: block;
  margin-bottom: 10px;
}

.lado-izquierdo
{
  width: 40%;
  margin: auto 0;

}

.lado-izquierdo-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 32px ;
}

.cambio {
  justify-content: space-around !important;
  // margin-top: 21px;
}

.cambio_derecho {
  justify-content: space-around !important;
  // margin-bottom: 21px !important;
}

.estilos-p
{
  background-color: $azul;
  width: 6em; /* 1em = 16px 6em= 96px*/
  height: 2em;
  border-radius: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: initial;
  cursor: pointer;
  transition: $transition-default;

  &:hover {
    width: 10em;
    background-color: $azul-claro;
  }
}

.lado-izquierdo-1item
{
  display: flex;
  justify-content: center;
}

.lado-izquierdo-p-medio
{
  background-color: $azul;
  width: 6em; /* 1em = 16px 6em= 96px*/
  height: 2em;
  border-radius: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lado derecho */

.lado-derecho
{
  width: 40%;
  margin: auto 0;

}

.lado-derecho-1item
{
  display: flex;
  justify-content: center;
}

.lado-derecho-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 32px;

}

/* img */
/* .container-img{} */

.img-tecnologias
{
  width: 100%;
    max-width: 200px;
    max-height: 250px;
    height: 100%;
    object-fit: cover;
}





/*linea azul - borde desde */
.container-lineaAzul
{
  /*margin-left: 16px;*/
  border-left: $azul 35px solid;
  position: relative;
}

h2 
{
  position: relative;
  padding-left: 47px;
}

.bloque
{
  background-color: $azul;
  width: 70px;
  height: 50px;
  position: absolute;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: -1;
}

.h2-bloqueuno
{
  left: -20px;
  position: sticky;
  top: 40px;
  z-index: 1;
}

.bloque-uno,
.bloque-dos,
.bloque-tres
{
  top: -10px;
  left: -29px;
  transition: $transition-barra;
}


/* desktop first que empieces desde el MQ más grande */

/* desde 768px hasta 1024px o = va a ejecutar estas reglas */
@media screen and (max-width: 1023px)
{

  .final-linea-azul
  {
    display: block;
  }


  .container
  {
    padding: 0 0;
  }

  .contact
  {
    padding: 16px 16px 16px 85px;
    height: auto;
  }


  

  .h1-hero
  {
    font-size: 2em;
    z-index: 2;
    width: 48%;
    padding-left: 2%; 
  }

}

/* desde 480px hasta 768px o = va a ejecutar estas reglas */
@media screen and (max-width: 767px)
{
  video{
    width: 100% !important;
    height: 100% !important;
    // bottom: 170px;
    position: absolute;
    z-index: 2;
    object-fit: cover;
    opacity: 0.2;
  }

/* seccion hero */
  .hero
  {
    margin-top: 45px;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em; /* un em vale depende el font-size que tengan los padres */
  }

  /* La img del hero */
  .hero-image
  {
    display: none;
    clip-path: inset(0 0 0 0);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 200%;
  }

  .h1-hero
  {
    font-size: 2em;
    z-index: 2;
    width: 100%;
    padding-left: 2%; 
  }



  .img-tecnologias
  {
    width: 100%;
    max-width: 200px;
    max-height: 230px;
    height: 100%;
  }

  .estilos-p
  {
    background-color: $azul;
    width: 5em; /* 1em = 16px 6em= 96px*/
    height: 2em;
    border-radius: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: initial;
    margin: 0 .3em;

  }
  .lado-derecho, .lado-izquierdo
  {
    margin: auto 1em;
  }

  .lado-izquierdo-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

}

.lado-derecho-2item
{
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

}

/* efecto de minificar el header
.header_mini{
  height: 70px;
  transition: 1s;
} */

  
  /* Botton */
  .burger-button
  {
    display: block;
  }

  .header
  {
    display: block;
    height: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
  }
  .header ol 
  {
    display: block;
  }
  .header ol li
  {
    height: 50px;
    /* text-align: center; */
  }
  .header a
  {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }

  .header .logo
  {
    text-align: center;
  }

  .menu
  {
    position: fixed;
    background: rgba(5, 111, 255, .9);;
    z-index: 3;
    top: 0; /* para que se pegue el contenedor menu arriba */
    left: -200vh; /* para que se ponga -100vh a la izquierda desde la izquierda te va a mover hacia la izquierda tal tamaño */
    bottom: 0;
    width: 100vw; /* tomara el 100% del ancho del viewport */
    /* height: 100vh; */
    display: flex;
    justify-content: center; /* centra de manera horizontal */
    align-items: center;
    transition: .5s;

  }

  .menu.is-active
  {
    left: 0;
  }

/* ajustando la seccion del portafolio */
  .project
  {
    display: block;
  }

  .project-imageContainer
  {
    width: auto;
    text-align: center;
  }

  .project-details
  {
    width: auto;
    font-size: 20px;
  }

  /* los margenes los modificamos porque eran margenes fijos de 10px */
  .project-course, 
  .project-date, 
  .project-url
  {
    margin: 0.3em 0; /* 1em = 16px VERTICAL 4.8PX Y HORIZONTAL 0*/
  }

  .project-title
  {
    font-size: 1.5em;
    margin-bottom: 0.3em; /* es == a 4.8PX */
  }

  .project-course
  {
    font-size: 0.7em;
  }

  .project-date
  {
    font-size: 1em;

  }

  .project-url
  {
    font-size: 1em;

  }

  .project-description
  {
    font-size: 0.8em;

  }

  /* seccion de eventos */
  .event
  {
    width: 98%;
    flex-shrink: initial;
    min-height: 250px;
  }

  .event img
  {
    width: 100%;
  }


}

/* desde 320px hasta 480px o = va a ejecutar las reglas */
@media screen and (max-width: 480px)
{

  .final-linea-azul
{
 /* border: 1px solid red;  */
 position: absolute;
 width: 27px;
 height: 60px;
 left: 0;
 top: 0;
 background: white;
}

.final-linea-azul-parte2
{
  background-color: white;
  width: 70px;
  height: 40px;
  position: absolute;
  top: 31px;
  /* border: black 1px solid; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


  .portfolio {
    background: $white2;
    padding: 9px;
    /* background: red; */
  }

  .project-title {
    width: 90%;
  }


  .enlace-proyectos
{
  color: $azul;
  padding: 5px 4px;
  font-size: 16px;
}

  .h1-hero
  {
    font-size: 1.5em;
    z-index: 2;
    width: 100%;
    padding-left: 2%;
  }

  .hero-image
  {
    height: 154%;
  }




  h2
  {
    font-size: 23px;
  }

  /*linea azul - borde desde */
.container-lineaAzul
{
  /*margin-left: 16px;*/
  border-left: $azul 27px solid;
  position: relative;
}

.bloque {
    background-color: $azul;
    width: 70px;
    height: 45px;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


  .tecnologias
  {
    display: block;
    padding: 1em;
  }
  
  .lado-izquierdo, .lado-derecho
  {
    width: auto;
    margin: 0;
  }

  .lado-izquierdo-2item, .lado-derecho-2item
  {
    margin: 1em 2em;
  }

  .container-img
  {
    display: flex;
    justify-content: center;
  }
  .img-tecnologias
  {
    margin: 1.5em 0;
  }




  h1 
  {
    font-size: 1.5em; /* 1.5em == 24px 1em == 16px */
  }




  .project-details
  {
    font-size: 16px;
  }

  /* 1em = 16px y vale eso porque no hemos modificado el tamaño de fuente de la clase*/
  .event-detail
  {
    // margin: -2em 0.5em 0.5em 0.5em;
    // padding: 1em;
    font-size: 12px;
  }

  /* seccion de contacto */
  .contact
  {
    height: auto;
    padding: 1.5em 0; /* 1em == 16px */
    text-align: center;
    display: block;
  }

  .form-email a 
  {
    margin: 1em auto; /* 1em == 11px | el tamaño fuente de este boton vale 11px por lo que 1em vale 11px */
    width: 60%;
  }

  .form-email h3
  {
    margin-top: 0;
  }

  /* seccion del footer para que se apilen uno abajo del otro */
  .footer
  {
    display: block; /* para que cuando lleguen hasta 480px se apilen uno abajo del otro */
    text-align: center; /* centramos los elementos */
    border: 1px solid transparent; /* para que quite el margin collapse */
  }

  .social-link
  {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }

  .hoja-vida {
    font-size: 40px !important;
  }

}

/* todo lo que sea inferior a 320px o = va a ejecutar las reglas */
@media screen and (max-width: 320px)
{

  .final-linea-azul
{
 /* border: 1px solid red;  */
 position: absolute;
 width: 20px;
 height: 60px;
 left: 0;
 top: 0;
 background: white;
}

.final-linea-azul-parte2
{
  background-color: white;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 31px;
  /* border: black 1px solid; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

  .project
  {
    padding: 12px;
  }

  .project-title {
    
    width: 95%;
  }


  .hero-image
  {
    height: 107%;
  }



  h2
  {
    font-size: 21px;
  }

    /*linea azul - borde desde */
.container-lineaAzul
{
  /*margin-left: 16px;*/
  border-left: $azul 20px solid;
  position: relative;
}

.bloque {
    background-color: $azul;
    width: 70px;
    height: 40px;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bloque-uno, .bloque-dos, .bloque-tres {
    top: -3px;
    left: -29px;
}



  .lado-izquierdo-2item, .lado-derecho-2item
  {
    margin: 1em 1em;
  }


  h1
  {
    font-size: 1.2em;
  }

  .hero
  {
    padding: 2em 1em; /* 2em eje vertical 1em eje horizontal */
  }



}

/* estilos para .final-linea-azul */
@media screen and (min-width: 1024px) {
  .container{
    position: relative;

  }
  .final-linea-azul
  {
  display: block;
  // left: -17px;
  // top: -17px;
  }
  /* le ponemos pading a esa seccion para que entre final-linea-azul  */
  .padding-container{
    padding: 0px 16px 0px 85px;
    height: auto;
    /* border: 1px solid red; */ 
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
  
}

@media screen and (max-width: 425px){
  .hero-image {
      height: 154%;
      width: 140%;
  }
}



/* lo hacemos un container */
.padding-container{
  /* padding: 0px 16px 0px 85px; */
  height: auto;
  /* border: 1px solid red; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}


// video {
//   display: none;
// }

.enlace-hv {
    text-decoration: none;
    color: white;
    vertical-align: top;
    margin: 0 10px;
}

.hoja-vida {
  font-size: 50px;
}

.active_bar{
  width: 80%;
}

.text-white{
  color: white;
  transition: $transition-default;
}

@media screen and (max-width: 767px) {
  .event-list-title {
    top: 85px;
    padding-left: 42px;
  }
  .active_bar {
    width: 100vw;
  }

  .h2-bloqueuno{
    top: 85px;
    font-size: 16px;
    margin-left: -20px;
    padding-left: 42px;
  }

}