$gris-oscuro: #1d252c;
$gris-claro: #626262;
$background-gris: #1b2127;
$background-gris2: #1b2027;
$celeste: #026fff;
$azul: #056fff;
$white: #ffffff;
$white2: #fafafa;
$white3: #f4fbff;
$azul-claro: #4393ff;

$transition-default: .3s all ease-in-out;
$transition-barra: .4s all ease-in-out;
$borderR: 4px